img {
    position: absolute;
    width: 100px;
    margin: 2px;
}
input {
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px 10px;
    width: 50%;
    box-sizing: border-box;
}
.tip {
    position: absolute;
    width: 30px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid gray;
}
